<div class="card" >
  <div class="card-body">
      <h3>About</h3>
  </div>
</div>

  <div class="card-body">
      <p> © 2019 Copyright: <%= link_to "Liwiro",   root_path %> </p>
      <i><small class="text-muted">Version 1.0.0</small></i>
  </div>

<br>
