<div class="card" >
  <div class="card-body">
      <h3>About</h3>
  </div>
</div>
<br>

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">

    <h4 style="text-align:center;">
      Liwiro is an application to easy search and join gyms or courses around.<br>
      Discover new Coupon and <strong>TAKE IT</strong>. They are waiting to be used.
    </h4>
    <br>

    <i><small class="text-muted">Version 1.0.0</small></i>

  </div>
</div>
