<div class="card" >
  <div class="card-body">
      <h3> Log-in </h3>
  </div>
</div>
<hr>
<br />

<div class="row" style="text-align: center;">
  <div class="col-sm-1"></div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded zoomlogo">
      <a href='/athletes/sign_in'><h3 style="color: black;">Athlete</h3></a>
      <a href='/athletes/sign_in'> <%= image_tag("course.svg", :size =>"200x200") %></a>
      <a class="btn btn-primary" href="/athletes/sign_in"><i class="fa fa-sign-in"></i> &nbsp; Log-in</a>
    </div>
  </div>
  <div class="col-sm-2"></div>

  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded zoomlogo">
      <a href='/gyms/sign_in'><h3 style="color: black;">Gym</h3></a>
      <a href='/gyms/sign_in'><%= image_tag("peso.svg", :size =>"200x200") %></a>
      <a class="btn btn-primary" href="/gyms/sign_in"><i class="fa fa-sign-in"></i> &nbsp; Log-in </a>
    </div>
  </div>
</div>
