<h1>Editing Gym Review</h1>
<div class="alert alert-secondary" role="alert">
  <%= image_tag("logo.png", :size =>"20x20" ) %> &nbsp;
  You already reviewed the gym, but if you want you can change it
</div>

<%= render 'form', gym_review: @gym_review %>
