<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <%= image_tag("worksheet.svg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1>My Worksheets </h1><p class="card-text"></p>
  </div>
</div>
</br>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">From gym</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (@worksheets).each do |worksheet| %>
      <tr>
        <td><%= worksheet.gym.username %></td>
        <td><%= link_to 'Show', worksheet , :class=>"btn btn-outline-primary"%></td>
        <td><%= link_to 'Destroy', worksheet, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
