<h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target=''>Back</button>".html_safe, courses_path%>
