<h1>New Course Comment</h1>

<%= render 'form', course_comment: @course_comment %>

<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target=''>Back</button>".html_safe, course_comments_path%>
